<% if @open_quotes %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Open Quotes</h2>
        <table id="open_quotes" class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Request Description</th>
              <th>Request Expires</th>
              <th>Company</th>
              <th>Start Date</th>
              <th>Completion Date Estimate</th>
              <th>Total Cost Estimate</th>
              <th>Quote Details</th>
            </tr>
          </thead>
          <tbody>
            <% @open_quotes.each do |open_quote| %>
            <tr>
              <td><%= open_quote.customer_request.description %></td>
              <td><%= open_quote.customer_request.expires_date %></td>
              <td><%= open_quote.company.name%></td>
              <td><%= open_quote.start_date.strftime("%B %e, %Y") %></td>
              <td><%= open_quote.completion_date_estimate.strftime("%B %e, %Y") %></td>
              <td><%= number_to_currency(open_quote.total_cost_estimate) %></td>
              <td><a href="/quotes/<%= open_quote.id %>"><button class="btn btn-success">Details</button></a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
<% end %>
<% if @accepted_quotes %>
  <div class="panel panel-default">
    <div class="panel-body">
    <h2>Accepted Quotes</h2>
        <table id="accepted_quotes" class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Request Description</th>
              <th>Request Expires</th>              
              <th>Company</th>
              <th>Start Date</th>
              <th>Completion Date Estimate</th>
              <th>Total Cost Estimate</th>
              <th>Quote Details</th>
            </tr>
          </thead>
          <tbody>
            <% @accepted_quotes.each do |accepted_quote| %>
            <tr>
              <td><%= accepted_quote.customer_request.description %></td>
              <td><%= accepted_quote.customer_request.expires_date %></td>              
              <td><%= accepted_quote.company.name%></td>
              <td><%= accepted_quote.start_date.strftime("%B %e, %Y") %></td>
              <td><%= accepted_quote.completion_date_estimate.strftime("%B %e, %Y") %></td>
              <td><%= number_to_currency(accepted_quote.total_cost_estimate) %></td>
              <td><a href="/quotes/<%= accepted_quote.id %>"><button class="btn btn-success">Details</button></a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
<% end %>