<% if @open_quotes %>
  <div class="panel panel-default">
    <div class="panel-body">
    <h2>Open Quotes</h2>
      <% @customer_requests.each do |cr| %>
        <span><h3><%= cr.description %></h3><h5>Request Expires: <%= cr.expires_date %></h5></span> 
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Company</th>
              <th>Start Date</th>
              <th>Completion Date Estimate</th>
              <th>Total Cost Estimate</th>
              <th>Quote Details</th>
            </tr>
          </thead>
          <tbody>
            <% cr.open_quotes.each do |open_quote| %>
            <% if open_quote.customer_viewed == false %>
            <tr style="font-weight:bold;">
              <td><%= open_quote.company.name %></td>
              <td><%= open_quote.start_date.strftime("%B %e, %Y") %></td>
              <td><%= open_quote.completion_date_estimate.strftime("%B %e, %Y") %></td>
              <td><%= number_to_currency(open_quote.total_cost_estimate) %></td>
              <td><a href="/quotes/<%= open_quote.id %>"><button class="btn btn-success">Details</button></a></td>
            </tr>
            <% else %>
             <tr>
              <td><%= open_quote.company.name %></td>
              <td><%= open_quote.start_date.strftime("%B %e, %Y") %></td>
              <td><%= open_quote.completion_date_estimate.strftime("%B %e, %Y") %></td>
              <td><%= number_to_currency(open_quote.total_cost_estimate) %></td>
              <td><a href="/quotes/<%= open_quote.id %>"><button class="btn btn-success">Details</button></a></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>
<% if @accepted_quotes %>
  <div class="panel panel-default">
    <div class="panel-body">
    <h2>Accepted Quotes</h2>
      <% @accepted_quotes.each do |accepted_quote| %>
        <table class="table table-hover table-condensed">
        <span><h3><%= accepted_quote.customer_request.description %></h3><h5>Request Expires: <%= accepted_quote.customer_request.expires_date %></h5></span> 
          <thead>
            <tr>
              <th>Company</th>
              <th>Start Date</th>
              <th>Completion Date Estimate</th>
              <th>Total Cost Estimate</th>
              <th>Quote Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= accepted_quote.company.name%></td>
              <td><%= accepted_quote.start_date.strftime("%B %e, %Y") %></td>
              <td><%= accepted_quote.completion_date_estimate.strftime("%B %e, %Y") %></td>
              <td><%= number_to_currency(accepted_quote.total_cost_estimate) %></td>
              <td><a href="/quotes/<%= accepted_quote.id %>"><button class="btn btn-success">Details</button></a></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>