<%= form_for @quote do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4 style="text-align: right">Current Credits: <%= current_company.credits %></h4>
      <button type="button" style="float: right" id="creditBtn" class="btn-primary clearfix" data-container="body" data-toggle="popover" data-placement="top">Buy More Credits</button>

      <div class="form">
        <h3>New Quote</h3>
        <div class="form-group">
          <label for="materials cost estimate">Materials Cost Estimate</label>
          <br>
          <%= f.number_field :materials_cost_estimate, class: "form-control"%>
        </div>
        <div class="form-group">
          <label for="labor cost estimate">Labor Cost Estimate</label>
          <br>
          <%= f.number_field :labor_cost_estimate, class: "form-control"%>
        </div>
        <div class="form-group">
          <label for="start date">Start Date</label>
          <br>
          <%= f.date_field :start_date, min: Date.today, max: @quote.customer_request.expires_date, class: "form-control"%>
        </div>
         <div class="form-group">
          <label for="completion date estimate">Completion Date Estimate</label>
          <br>
          <%= f.date_field :completion_date_estimate, min: Date.today, class: "form-control"%>
        </div>
        <div class="form-group">
          <label for="notes">Notes</label>
          <br>
          <%= f.text_area :notes, class: "form-control"%>
        </div>
        <%= hidden_field_tag(:customer_request_id, @quote.customer_request_id) %>
        <div>
          <%= submit_tag 'Submit', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %>


<div id="credit" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1>Purchase Credits:</h1>
      <hr>
      <%= form_tag do %>
        <h3 style='color: black'>
          <%= label_tag 'Quantity:' %>
          <%= number_field_tag :quantity, '1', min: '1', id: 'credit-quantity',
          :data => {
            :credit_cost => ENV['CREDIT_COST'],
            :company_id => current_company.id
          } %>
        </h3 style='color: black'>

        <h3>Total: <span id="credit-subtotal">$<%= ENV['CREDIT_COST']%></span></h3>
        <br>
        <div id="paypal-button"></div>

      <% end %>
    </div>
  </div>
