<div class="panel panel-quotes panel-default text-center" style="width: 60%;">
  <div class="panel-heading" style="background-color: white;color:rgb(60,114,58)">
    <h3 class="panel-title">Quote from <%= @quote.company.name %></h3>
  </div>
  <div>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Category</th>
          <td><%= @quote.customer_request.service_category.name%></td>
        </tr>
        <tr>
          <th>Zip Code</th>
          <td><%= @quote.customer_request.zipcode%></td>
        </tr>
        <tr>
          <th>Start Date</th>
          <td><%= @quote.start_date.strftime("%B %e, %Y") %></td>
        </tr>
        <tr>
          <th>Completion Date Estimate</th>
          <td><%= @quote.completion_date_estimate.strftime("%B %e, %Y") %></td>
        </tr>
        <tr>
          <th>Notes</th>
          <td><%= @quote.notes %></td>
        </tr>
        <tr>
          <th>Materials Cost Estimate</th>
          <td><%= number_to_currency(@quote.materials_cost_estimate) %></td>
        </tr>
        <tr>
          <th>Labor Cost Estimate</th>
          <td><%= number_to_currency(@quote.labor_cost_estimate) %></td>
        </tr>
        <tr>
          <th>Total Cost Estimate</th>
          <td><%= number_to_currency(@quote.total_cost_estimate) %></td>
        </tr>
      </tbody>
    </table>
    <div align="center">
      <% if current_company || current_customer && @quote.accepted %>
        <a class="btn btn-primary" href="/quotes" role="button">Back to Quotes</a>
        <a class="btn btn-primary" href="/customer_requests" role="button">Home</a>
      <% else %>
        <%= form_for :contract, url: '/contracts/', method: :post do |f| %>
          <%= f.hidden_field :quote_id, value: @quote.id %>
          <%= f.hidden_field :customer_request_id, value: @customer_request.id %>
          <%= f.submit "Accept", class: "btn btn-md btn-success" %> 
        <% end %>
        <%= button_to "Decline Quote", { action: "update", id: @quote.id},class: "btn btn-danger btn-md", method: :patch, data: { confirm: "Are you sure?" }%>
        <a class="btn btn-theme-bg" href="/quotes" role="button"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Back</a>
      <% end %>
    </div>
  </div>
</div>