<h1>New Quote for <%= @customer_request.customer.email %></h1>
<h1>New Quote from <%= @company.name %></h1>
<h3>Materials Cost Estimate: <%= number_to_currency(@quote.materials_cost_estimate) %></h3>
<h3>Labor Cost Estimate: <%= number_to_currency(@quote.labor_cost_estimate) %></h3>
<h3>Start Date: <%= @quote.start_date %></h3>
<h3>Completion Date Estimate: <%= @quote.completion_date_estimate %></h3>
<h3>Notes: <%= @quote.notes %></h3>

<% if current_company %>
  <button type="submit" class="btn btn-primary">Back to Quotes</button>
  <button type="submit" class="btn btn-primary">Home</button>
<% else %>
  <button type="submit" class="btn btn-success">Accept Quote</button> 
  f<button type="submit" class="btn btn-danger">Decline Quote</button>
<% end %>