<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="well">
        <% if @request.contract && @request.contract.quote.company_id == current_company.id %>
          <h2><%= @request.customer.email %> needs ...</h2>
          <div>
            <h3><%= @request.description %></h3>
            <h4>Address: <%= @request.address %></h4>
            <h4>City: <%= @request.city %></h4>
            <h4>State: <%= @request.state %></h4>
            <h4>Zipcode: <%= @request.zipcode %></h4>
          </div>
        <% else %>
          <h2>A customer needs...</h2>
          <div>
            <h3><%= @request.description %></h3>
            <h4>City: <%= @request.city %></h4>
            <h4>State: <%= @request.state %></h4>
            <h4>Zipcode: <%= @request.zipcode %></h4>
          </div>        
        <% end %>        
      </div>
    </div>
    <div class="row">
      <div class="panel panel-quotes panel-default text-center">
        <div class="panel-heading" style="background-color: white;color:rgb(60,114,58)">
          <h3 class="panel-title">Details</b></h3>
        </div>
        <div>
          <table class="table table-condensed">
            <tbody>
              <% if @quote.view_date %>
                <tr>
                  <th>Quote Viewed</th>
                  <td><%= @quote.view_date.strftime("%B %e, %Y") %></td>
                </tr>
              <% end %>
              <tr>
                <th>Category</th>
                <td><%= @quote.customer_request.service_category.name%></td>
              </tr>
              <tr>
                <th>Start Date</th>
                <td><%= @quote.start_date.strftime("%B %e, %Y") %></td>
              </tr>
              <tr>
                <th>Completion Date Estimate</th>
                <td><%= @quote.completion_date_estimate.strftime("%B %e, %Y") %></td>
              </tr>
              <tr>
                <th>Notes</th>
                <td><%= @quote.notes %></td>
              </tr>
              <tr>
                <th>Materials Cost Estimate</th>
                <td><%= number_to_currency(@quote.materials_cost_estimate) %></td>
              </tr>
              <tr>
                <th>Labor Cost Estimate</th>
                <td><%= number_to_currency(@quote.labor_cost_estimate) %></td>
              </tr>
              <tr>
                <th>Total Cost Estimate</th>
                <td><%= number_to_currency(@quote.total_cost_estimate) %></td>
              </tr>
            </tbody>
          </table>
          <div align="center">
            <a class="btn btn-success" href="/quotes" role="button">My Quotes</a>
            <a class="btn btn-success" href="/contracts" role="button">My Contracts</a>
            <% if current_customer %>
              <%= form_for :contract, url: '/contracts/', method: :post do |f| %>
                <%= f.hidden_field :quote_id, value: @quote.id %>
                <%= f.hidden_field :customer_request_id, value: @request.id %>
                <%= f.submit "Accept", class: "btn btn-md btn-success" %> 
              <% end %>
              <button type="button" class="btn btn-danger btn-md top-margin-button" data-toggle="modal" data-target="#myModal">Decline Quote</button><br>
              <a class="btn btn-theme-bg" href="/quotes" role="button"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Back</a>
            <% end %>
            <% if @request.contract && @request.contract.quote.company_id == current_company.id %>
              <a class="btn btn-danger" role="button">Mark As Complete</a>
            <% end %>
          </div>
          <br>
        </div>
      </div>      
    </div>

  </div>
  <div class="col-sm-6">
    <div id="customer-request-map"></div>
  </div>
</div>










<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Decline Quote</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Do you want to decline this quote?
      </div>
      <div class="modal-footer">
        <%= button_to "Yes", { action: "update", id: @quote.id},class: "btn btn-success btn-md", method: :patch %>
        <button type="button" class="btn btn-danger btn-md top-margin-button" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>



<script>
  function initMap() {
    var requestCoords = {lat: <%= @request.latitude %>, lng: <%= @request.longitude %>};
    var map = new google.maps.Map(document.getElementById('customer-request-map'), {
      zoom: 14,
      center: requestCoords
    });
    <% if @request.contract && @request.contract.quote.company_id == current_company.id %>
      var marker = new google.maps.Marker({
        position: requestCoords,
        map: map
      });
    <% else %>
      var marker = new google.maps.Circle({
        center: requestCoords,
        radius: 1000,
        map: map
      });
    <% end %>
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
</script>