<h1>New Quote from <%= @company.name %></h1>
<h3>Customer Request ID: <%= @quote.customer_request_id %></h3>
<h3>Materials Cost Estimate: <%= @quote.materials_cost_estimate %></h3>
<h3>Labor Cost Estimate: <%= @quote.labor_cost_estimate %></h3>
<h3>Start Date: <%= @quote.start_date %></h3>
<h3>Completion Date Estimate: <%= @quote.completion_date_estimate %></h3>
<h3>Notes: <%= @quote.notes %></h3>