<h1>Contract #<%= @contract.id %></h1>
<table class="table table-responsive">
  <thead class="thead-inverse">
      <tr>
        <th>Customer Request</th>
        <th>Materials Cost Estimate</th>
        <th>Labor Cost Estimate</th>
        <th>Completion Date</th>
        <th>Notes</th>
      </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @contract.customer_request.description %></td>
        <td><%= @contract.quote.materials_cost_estimate %></td>
        <td><%= @contract.quote.labor_cost_estimate %></td>
        <td><%= @contract.quote.completion_date_estimate.strftime('%a, %e %b %Y') %></td>
        <td><%= @contract.quote.notes %></td>
      </tr>
  </tbody>
</table>
<input class="btn btn-default" type=button onClick="location.href='/reviews/new'" value='Leave Review'>
<p><a href="/contracts">Back to all Contracts</a></p>
