<h1>My Orders</h1>
  <button type="button" style="float: right" id="creditBtn" class="btn-primary clearfix" data-container="body" data-toggle="popover" data-placement="top">Buy More Credits</button>
<br>
<br>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Order ID</th>
          <th>Purchase Date</th>
          <th>Quantity<th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><a href="/orders/<%= order.id %>">view</td>
            <td><%= order.id %></td>
            <td><%= order.created_at.strftime('%a, %e %b %Y') %></td>
            <td><%= order.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="credit" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1>Purchase Credits:</h1>
      <hr>
      <%= form_tag do %>
        <h3 style='color: black'>
          <%= label_tag 'Quantity:' %>
          <%= number_field_tag :quantity, '1', min: '1', id: 'credit-quantity',
          :data => {
            :credit_cost => ENV['CREDIT_COST'],
            :company_id => current_company.id
          } %>
        </h3 style='color: black'>

        <h3>Total: <span id="credit-subtotal">$<%= ENV['CREDIT_COST']%></span></h3>
        <br>
        <div id="paypal-button"></div>

      <% end %>
    </div>
  </div>