<script>document.body.className += ' fade-out';</script>

<div class="container-fluid">
  <a class="navbar-brand" href="/"><%= image_tag "veterans_work_logo_no_words.png", height: "40", alt: "Company Logo" %></a>
  <h2>Our Mission:</h2>
  <div class="row">
    <div class="well">
      <p id="mission">For our beloved veterans in the skilled trades, work opportunities can sometimes be hard to come by. Veterans Work's mission is to connect customers in need with hard working, dedicated veterans who are qualified and ready.</p>
    </div>
  </div>

  <a class="navbar-brand" href="/"><%= image_tag "veterans_work_logo_no_words.png", height: "40", alt: "Company Logo" %></a>

  <h2>Our History:</h2>
  <div class="row">
    <div class="well">
      <p id="history1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero quis ligula rutrum finibus. Praesent lobortis purus dolor, a porta ex mattis vel. Praesent ut fermentum odio. Vestibulum condimentum, arcu eu blandit blandit, ligula odio malesuada risus, eget porttitor sapien lorem vel tortor. Maecenas id magna eget erat cursus mollis. Sed congue iaculis elit sit amet iaculis. Duis euismod velit sit amet sagittis suscipit.</p>

      <p id="history2">Phasellus accumsan magna libero, in lacinia ipsum varius sit amet. Nulla elementum diam sit amet sem condimentum luctus. Nullam pretium sit amet erat vel mollis. Donec at purus sed ipsum tincidunt sodales quis rhoncus arcu. Nunc viverra leo id suscipit vestibulum. Nam convallis enim eget aliquam dapibus. Etiam ultrices nec massa eu condimentum. Etiam tellus dolor, malesuada vel nisi non, ornare volutpat tortor. Integer congue magna neque, quis auctor nisi consequat et. Integer risus nisi, rhoncus quis efficitur sodales, egestas nec massa. In vulputate nibh sagittis ultricies aliquam.</p>
    </div>
  </div>

<section>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail"><%= image_tag 'veteranplumber.png', alt: "Stock photo 1", class: "img-responsive", style: "width:100%" %>
      </div>
      <div class="well">
        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail"><%= image_tag 'veteranplumber.png', alt: "Stock photo 1", class: "img-responsive", style: "width:100%" %>
      </div>
      <div class="well">
        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail"><%= image_tag 'veteranplumber.png', alt: "Stock photo 1", class: "img-responsive", style: "width:100%" %>
      </div>
      <div class="well">
        <div class="caption">
          <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
        </div>
      </div>
    </div>

</section>

<br>

<a class="navbar-brand" href="/"><%= image_tag "veterans_work_logo_no_words.png", height: "40", alt: "Company Logo" %></a>

<h2>Contact Us:</h2>
  <div class="row">
    <div class="well">
      <h3><u>Email</u>: veteransworkheroku@gmail.com</h3>
      <h3><u>Phone</u>: 123-456-7890</h3>
    </div>
  </div>

</div>