
<div id="home-header">
  <h1 class="home-title">Veterans Work</h1>
  <h3>Connect Customers in Need with Veterans in Skilled Trades</h3>

  <div class="icons">
    <ul>
      <li>
        <h4>Paint</h4>
        <%= image_tag 'paint_icon.png', alt: "Paint icon", class: "work-icon" %>
      </li>
      <li>
        <h4>Plumbing</h4>
        <%= image_tag 'plumbing_icon.png', alt: "plumbing icon", class: "work-icon" %>
      </li>
      <li>
        <h4>Carpentry</h4>
        <%= image_tag 'carpentry_icon.png', alt: "carpentry icon", class: "work-icon" %>
      </li>
      <li>
        <h4>Mechanical</h4>
        <%= image_tag 'mechanical_icon.png', alt: "mechanical icon", class: "work-icon" %>
      </li>
      <li>
        <h4>Electrical</h4>
        <%= image_tag 'electrical_icon.png', alt: "electrical icon", class: "work-icon" %>
      </li>
    </ul>
  </div>
</div>

<div id="home-content">
  <div id="service-search">
    <h3>Find a Service</h3>
  </div>

  <div class="row">
    <div id="home-about">

    </div>
    <div id="vet-sign-in">

    </div>
  </div>
</div>

