
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= @some_variable %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="col-sm-4">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if not changing)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city, autofocus: true, class: "form-control"  %>
      </div>

      <div class="field">
        <%= f.label :state %><br />
        <%= f.text_field :state, autofocus: true, class: "form-control"  %>
      </div>

      <div class="field">
        <%= f.label :zip_code %><br />
        <%= f.text_field :zip_code, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :website %><br />
        <%= f.text_field :url, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label "Service Radius (miles)" %><br />
        <%= f.number_field :service_radius, autofocus: true, class: "form-control" %>
      </div>
      
      <div class="file">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      </div>

    <div><strong>Services Categories Offered</strong>
      <% @service_categories.each do |service_category| %>
        <div data-toggle="checkbox">
            <%= check_box_tag 'service_category[]', service_category.id, current_company.service_categories.include?(service_category) %> <%= service_category.name %>
        </div>
      <% end %>
    </div>
    <hr>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-success btn-md" %>
    </div>
    </div>

  <% end %>
</div>

<h3>Cancel My Account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back , class: "btn btn-primary btn-sm" %>
