<h1>Customer Requests</h1>
<div id="credit-summary" class="clearfix">
  <ol>
    <li><button type="button" id="creditBtn" class="brn-primary" data-container="body" data-toggle="popover" data-placement="top">
    Buy More Credits</button></li>
    <li><p>Credits: <%= @company.credits %></li></p>
  </ol>
</div>
 <div class="panel panel-default">
   <div class="panel-body">
     <table class="table table-hover">
       <thead>
         <tr>
           <th></th>
           <th>Distance</th>
           <th>Address</th>
           <th>Category</th>
           <th>Expires</th>
         </tr>
       </thead>
       <tbody>
           <% @requests.each do |request| %>
            <% if request.expires_date > Date.today %>
             <tr>
               <td>
                 <%= link_to "/customer_requests/#{request.id}" do %>
                   <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                 <% end %>
               </td>
               <td>
                 <%= request.distance_from([@company.latitude, @company.longitude]).round(1) %> mi.
               </td>
               <td><%= request.full_street_address.titleize %></td>
               <td><%= request.service_category.name.capitalize %></td>
               <td><%= request.expires_date.strftime("%m/%d/%Y") %></td>
             </tr>
            <% end %>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="credit" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1>Purchase Credits:</h1>
      <hr>
      <%= form_tag do %>
        <h3 style='color: black'>
          <%= label_tag 'Quantity:' %>
          <%= number_field_tag :quantity, '1', min: '1', id: 'credit-quantity',
          :data => { :credit_cost => ENV['CREDIT_COST']} %>
        </h3 style='color: black'>

        <h3>Total: <span id="credit-subtotal">$<%= ENV['CREDIT_COST']%></span></h3>

        <%= submit_tag 'Checkout', class: 'btn btn-primary' %>

      <% end %>
    </div>
  </div>
