<h1>My Work Requests</h1>
<% if @customer.customer_requests %>
  <% @customer.customer_requests.each do |cr| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <h4><%= link_to cr.description, "/customer_requests/#{cr.id}" %></h4>
              <thead>
                <tr>
                  <th>Service Category</th>
                  <th>Expiration Date</th>
                  <th>Quotes Received</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= cr.service_category.name%></td>
                  <td><%= cr.expires_date.strftime("%B %e, %Y") %> </td>
                  <td><%= cr.quotes.count %> of 3</td>
                  <td>
                    <a href="/quotes?request_id=<%=cr.id%>" class="btn btn-success">
                      View Quotes
                    </a>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <a href="/customer_requests/new">
    <button class="btn btn-success pull-right">New Work Request</button>
  </a>
<% end %>
