<table class="table table-hover">
  <thead>
    <tr>
      <% @attributes.each do |attr| %>
        <th><%= attr %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.address %></td>
          <td><%= request.city %></td>
          <td><%= request.state %></td>
          <td><%= request.zipcode %></td>
          <td><%= request.description %></td>
        </tr>
      <% end %>
  </tbody>
</table>
