<table class="table table-hover">
  <thead>
    <tr>
      <% @attributes.each do |attr| %>
        <th><%= attr %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.name %></td>
          <td><%= request.email %></td>
          <td><%= request.phone %></td>
          <td><%= request.industry %></td>
          <td><%= request.job_type %></td>
          <td><%= request.project_type %></td>
          <td><%= request.explanation %></td>
          <td><%= request.location %></td>
          <td><%= request.customer_availability %></td>
        </tr>
      <% end %>
  </tbody>
</table>