<% if @request.contract %>
  <h2><%= @request.customer.email %> needs ...</h2>
  <div>
    <p><%= @request.description %></p>
    <p>Address: <%= @request.address %></p>
    <p>City: <%= @request.city %></p>
    <p>State: <%= @request.state %></p>
    <p>Zipcode: <%= @request.zipcode %></p>
  </div>
<% else %>
  <h2>A customer needs...</h2>
  <div>
    <p><%= @request.description %></p>
    <p>Address: <%= @request.address %></p>
    <p>City: <%= @request.city %></p>
    <p>State: <%= @request.state %></p>
    <p>Zipcode: <%= @request.zipcode %></p>
  </div>
  <% if current_company %>
    <%= link_to 'New Quote', "/quotes/new?customer_request_id=#{@request.id}" %>
  <% end %>
<% end %>
<% if current_customer %>
  <%= link_to 'Cancel Request', customer_request_path(@request),
    data: {:confirm => 'Are you sure?'}, :method => :delete, class: 'btn btn-danger' %>
<% end %>
