<div class="comment-form">
  <h3>Leave A Review
    <% if @companies.include?(@company) %>
      for <%= @company.name%>
    <% end %>
  </h3>
  <%= form_tag '/reviews', method: :post do  %>
    <div class="form-contact">
      <% if @companies.include?(@company) %>
        <%= hidden_field_tag(:company_id, @company.id) %>
      <% else %>
        <div class="form-group">
          <label for="exampleInputEmail1">Company</label>
          <%= collection_select("",:company_id, @companies, :id, :name, prompt: "Select one...") %>
        </div>
      <% end %>

      <div class="form-group">
        <label for="message">Rating</label>
        <%= select_tag :stars, options_for_select(["1","2","3","4","5"]), required:true, class:"form-control" %>
      </div>

      <div class="form-group">
        <label for="message">Review</label>
        <%= text_area_tag :body, "", required:true, class:"form-control" %>
      </div>
      <button style= 'margin-right: 25px; margin-bottom: 10px' type="submit" class="btn btn-success btn-lg pull-right">Comment</button>
    </div>
  <%end%>
</div>