<!DOCTYPE html>
<html>
  <head>
    <title>Veterans Work</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="veteransWork">
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= link_to 'Logout', destroy_company_session_path, method: :delete if current_company %>
      <%= link_to 'Logout', destroy_customer_session_path, method: :delete if current_customer %>
      <%= yield %>
      {{ 2 + 2 }}
    </div>
  </body>
</html>
