<!DOCTYPE html>
<html>
  <head>
    <title>Veterans Work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'veterans_work_logo.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body class="<%= @full_width_page ? 'full-width-page' : 'non-homepage' %>">
    <%= render "sidenav" %>

    <div class="container main-content">
      <% if notice || alert %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <p class="notice"><%= notice || alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12" id="MilitaryLogoContainer">
            <div class="col-sm-2 col-xs-4">
              <%= image_tag 'air_force.png', alt: "airforce logo", class: "small-military-logo" %>
            </div>
            <div class="col-sm-2 col-xs-4">
              <%= image_tag 'national_guard.png', alt: "national guard logo", class: "small-military-logo" %>
            </div>
            <div class="col-sm-2 col-xs-4">
              <%= image_tag 'marines.png', alt: "marines logo", class: "small-military-logo" %>
            </div>
            <div class="col-sm-2 col-xs-4">
              <%= image_tag 'navy.png', alt: "navy logo", class: "small-military-logo" %>
            </div>
            <div class="col-sm-2 col-xs-4">
              <%= image_tag 'army.png', alt: "army logo", class: "small-military-logo" %>
            </div>
            <div class="col-sm-2 col-xs-4">
              <%= image_tag 'coast_guard.png', alt: "coast guard logo", class: "small-military-logo" %>
            </div>                                                        
          </div> <!-- MilitaryLogoContainer -->
        </div> <!-- row containing military logos -->
        <div class="row">
          <h5>© Veterans Work All Rights Reserved</h5>
        </div> <!-- row containing copyright -->
      </div> <!-- container -->
    </div> <!-- footer -->


    <div id="overlay" onclick="closeNav()"><div>

  </body>
</html>
