<!DOCTYPE html>
<html>
  <head>
    <title>Veterans Work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'veterans_work_logo.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= @homepage ? 'homepage' : 'non-homepage' %>">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag "veterans_work_logo.png", height: "40", alt: "Company Logo" %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/how">How It Works</a></li>
            <li><a href="/about">About</a></li>
          </ul>
          <div class="navbar-form navbar-left">
            <% if current_admin %>
              <%= form_tag "/companies", method: :get do %>
                <div class="form-group">
                  <%= text_field_tag :query, nil, placeholder: "Enter Company Info", class: 'form-control' %>
                </div>
                <%= submit_tag "Search", class: "btn btn-default" %>
              <% end %>
            <% end %>
          </div>
          <% if current_company || current_customer || current_admin %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if current_customer %>
                    <li><a href="/customers/edit">Edit My Profile</a></li>
                    <li><a href="/reviews/new">Leave Review</a></li>
                    <li><a href="/quotes">View Quotes</a></li>
                  <% elsif current_company %>
                    <li><a href="/companies/<%=current_company.id%>">Profile</a></li>
                    <li><a href="/companies/edit">Edit My Profile</a></li>
                  <% elsif current_admin %>
                    <li><a href="/pages/">Home Page</a></li>
                    <li><a href="/credits/">Credits</a></li>
                    <li><a href="/companies/">Companies</a></li>
                    <li><a href="/admins/">Customers</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/admins/<%=current_admin.id%>">Profile</a></li>
                    <li><a href="/admins/edit">Edit My Profile</a></li>
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Logout #{current_company.name}", destroy_company_session_path, method: :delete if current_company %></li>
                  <li><%= link_to "Logout #{current_customer.email}", destroy_customer_session_path, method: :delete if current_customer %></li>
                  <li><%= link_to "Logout #{current_admin.email}", destroy_admin_session_path, method: :delete if current_admin %></li>
                </ul>
              </li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Customer Sign Up", "/customers/sign_up" %></li>
              <li><%= link_to "Company Sign Up", "/companies/sign_up" %></li>
            </ul>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container main-content">
      <% if notice || alert %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <p class="notice"><%= notice || alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div class="footer navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-xs-2"><%= image_tag 'air_force.png', alt: "airforce logo", class: "small-military-logo" %></div>
              <div class="col-xs-2"><%= image_tag 'national_gaurd.png', alt: "national gaurd logo", class: "small-military-logo" %></div>
              <div class="col-xs-2"><%= image_tag 'marines.png', alt: "marines logo", class: "small-military-logo" %></div>
              <div class="col-xs-2"><%= image_tag 'navy.png', alt: "navy logo", class: "small-military-logo" %></div>
              <div class="col-xs-2"><%= image_tag 'army.png', alt: "army logo", class: "small-military-logo" %></div>
              <div class="col-xs-2"><%= image_tag 'coast_gaurd.png', alt: "coast gaurd logo", class: "small-military-logo" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
